h1{
    color: red;
}
h2{
    color: white;
}
.navbar{
    background: skyblue;
}
.logo{
    background: yellow;
}
.pogo1{
    background: orange;
}
.pogo2{
    background: orangered;
}
.pogo3{
    background: orange;
}
.footer{
    background: skyblue;
}